body {
  background-color: #000;
  color: #ccc;
  text-align: center;
  font-family: Arial, sans-serif;
}

input, select, button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
}

button {
  background-color: #ff7f00;
  border: none;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #ff6f00;
}

h1 {
  color: #ff7f00;
}
